ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
}
li {
    float: left;
    color: white;
        font-family: 'Macondo Swash Caps', cursive;
    text-align: center;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: lightgray;   
}
body {
    background-color: black;   
}
h1 {
    color: white;   
    text-align: center;
}
h2 {
    color: white;
    text-align: center; 
}